.grid-container {
    /* display: grid; */
    /* grid-template-columns: 400px 400px 400px 400px; */
    /* justify-content: space-evenly; */
    /* grid-template-rows:200px 20px 20px 20px; */
    padding: 10px 0 10px 0;
    /* height:100%; */
    background-color: aquamarine;
  }
.card{
    width: 1000px;
    margin: auto;
}
.detail{
    color: #000; 
    position: absolute;
    bottom: 0;
   
    background-color: aliceblue;
}